.logged {
  color: rgb(254, 252, 252);
  background-color: rgba(0, 131, 246, 0.705);
  margin-top: 10rem !important;
  text-align:center;
  width:40rem;
  height: auto;
  margin: 0 auto;
}

.css {
  color: rgb(247, 246, 246);
  background-color: rgba(6, 125, 228, 0.687);
  margin-top: 10rem !important;
  text-align:center;
  width:40rem;
  height: 20rem;
  margin: 0 auto;

}
.form-control{
  align-items: center;
  background-color: rgb(87, 3, 108);
  color: rgb(218, 213, 213);
  border-radius: 5px;
  margin-top: 1.5rem;
  width: auto;
  height: 1.5rem;
  font-size: 1.3rem;
  margin-left: 1.5rem;
  color: whitesmoke;
}

.btn{
  margin-top: 2rem;
  color: white;
  border-radius: 6px;
  background-color: blue;
  width: 8rem;
  height: 2rem;
}

.form-label {
  margin-right:1.5rem ;
  font-size: 2.3rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.mail {
  margin-left: 2rem;

}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
