
  <mat-card class="css">
    <div>
  <h1>LISTA UTENTI</h1>
<ul *ngFor="let users of utente" >
  <li *ngIf="utente.length === 0">Non ci sono <span>UTENTI</span></li>
  <li> {{users.firstname}}--{{users.lastname}}<br>{{users.email}}<button *ngIf="utente.length > 1" class="ciao3" mat-button (click)="remove(users)" ><mat-icon class="icon">delete_sweep</mat-icon></button></li>
<li *ngIf="utente.length === 1">Non ci sono altri <span>oltre a TE...</span></li>
</ul>
{{error}}
</div>
</mat-card>




<!-- {{users | json}} -->



  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

