.css {
  color: rgb(254, 254, 254);
  background-color: rgba(7, 124, 226, 0.665);
  margin-top: 10rem !important;
  text-align:center;
  width:40rem;
  height: auto;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;

}

.form-control{
  margin: 0 auto;
  background-color: rgb(87, 3, 108);
  color: black;
  border-radius: 5px;
  margin-top: 1.5rem;
  width: auto;

  font-size: 1.3rem;

  color: whitesmoke;
}

.btn{
  margin-top: 2rem;
  color: white;
  border-radius: 6px;
  background-color: rgba(0, 0, 255, 0.705);
  width: 8rem;
  height: 2rem;
}

.form-label {
  margin-right:1.5rem ;
  font-size: 2.3rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.mail {
  margin-left: 4.5rem;

}

